
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
  }

  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }
  }


@layer components {
  .section-padding {
    @apply py-20;
  }
}